.Track {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom-color: currentColor;
  padding: 0.75rem 0;
}

.Track button {
  color: currentColor;
}

.Track.draggable {
  border-color: currentColor;
  background-color: rgba(255, 255, 255, 0.6);
}

.Track.draggable button {
  filter: drop-shadow(0 0 2px currentColor);
}

.Track-button {
  flex-shrink: 0;
  padding: 0.5rem 0.35rem;
}

.Track-play {
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.Track-handle {
  width: 30px;
}

.Track.draggable .Track-handle {
  transition: none;
  color: rgba(83, 83, 83, 0.4);
}

.Track-action {
  font-size: 1.05rem;
}

.Track-play,
.Track-action {
  cursor: pointer;
  transition: fill 0.25s, color 0.25s;
}

.Track-handle:active {
  cursor: grabbing;
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2px;
}

.Track-information-title {
  margin-bottom: 0.22rem;
  line-height: 1.4em;
}

.Track.draggable .Track-information-title {
  text-shadow: 0 0 2px currentColor;
}

.Track-information-artist {
  font-size: 0.83rem;
  font-weight: 300;
  color: green;
  color: rgba(255, 255, 255, 0.8);
}

.Track.draggable .Track-information-artist {
  text-shadow: 0 0 4px currentColor;
}

/* .draggingOver .Track-information-artist {
  color: inherit;
} */
