.Playlists {
  display: flex;
  flex-direction: column;
  width: 41%;
  box-sizing: border-box;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
  max-height: 981px;
  padding: 1.8rem 1.16rem 0;
  border-bottom: 2.27rem solid transparent;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;

  overflow-y: scroll;
  transition: height 1s ease-out;
}

.Playlists > * {
  flex-shrink: 0;
}

@media only screen and (max-width: 1020px) {
  .Playlists {
    width: 98%;
  }
}
