.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.94rem;
  margin-bottom: 6.33rem;
}

.SearchBar input {
  width: 287px;
  padding: 0.88rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #010c3f;
  text-align: center;
  font-size: 1rem;
}

.SearchBar input:focus {
  outline: none;
}

.SearchBox {
  position: relative;
  margin-bottom: 2.22rem;
  overflow: hidden;
  cursor: text;
}

.SearchBox.invalid::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  transform: translate(-50%, -50%);
  border: 5px solid rgb(206, 91, 91);
  border-radius: 3px;
  animation-duration: 0.9s;
  animation-name: validation;
  animation-timing-function: ease-in;
}

@keyframes validation {
  40% {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }
  60% {
    width: calc(100%);
    height: calc(100%);
    border-color: rgba(207, 91, 91, 0.7);
  }
  80% {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
  }
  to {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border-color: rgba(207, 91, 91, 0);
  }
}

.SearchButton {
  cursor: pointer;
  width: 8.11rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  background-color: #010c3f;
  background-color: rgb(94, 92, 141);
  text-align: center;
  font-size: 0.833rem;
  transition: all 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
  position: relative;
}

.SearchButton:hover {
  background-color: rgba(98, 68, 189, 0.7);
}

.SearchButton.searching {
  cursor: not-allowed;
  color: rgb(133, 133, 133);
  text-shadow: 1px 1px black;
  background-image: linear-gradient(
    to right,
    #453085,
    #4d3692,
    #6848c7,
    #6848c7,
    #4d3692,
    #453085
  );
  background-size: 300% 100%;
  animation: CurrentPlaylist-save 4s infinite linear;
}
@keyframes CurrentPlaylist-save {
  100% {
    background-position: 500% 500%;
  }
}
