.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.94rem;
  margin-bottom: 6.33rem;
}

.SearchBar input {
  width: 287px;
  padding: 0.88rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 2.22rem;
  color: #010c3f;
  text-align: center;
  font-size: 1rem;
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 8.11rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  background-color: #010c3f;
  background-color: rgb(94, 92, 141);
  text-align: center;
  font-size: 0.833rem;
  transition: all 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: rgba(98, 68, 189, 0.7);
}

.SearchButton.searching {
  cursor: not-allowed;
  color: rgb(133, 133, 133);
  text-shadow: 1px 1px black;
  background-image: linear-gradient(
    to right,
    #453085,
    #4d3692,
    #6848c7,
    #6848c7,
    #4d3692,
    #453085
  );
  background-size: 300% 100%;
  animation: CurrentPlaylist-save 4s infinite linear;
}
@keyframes CurrentPlaylist-save {
  100% {
    background-position: 500% 500%;
  }
}
