.Playlist {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  padding: 0.75rem 0;
}

.Playlist .Playlist-title > * {
  transition: fill 0.5s, color 0.5s;
}

.Playlist.renaming .Playlist-title {
  font-weight: 100;
  letter-spacing: 0.03em;
}

.Playlist.renaming .Playlist-title > * {
  color: rgba(265, 265, 265, 0.5);
}

.Playlist.renaming .Playlist-edit {
  cursor: default;
  animation: Renaming 2s linear infinite;
}

@keyframes Renaming {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.Playlist-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2px;
  align-items: flex-start;
}

.Playlist-title {
  display: flex;
  align-items: center;

  margin-bottom: 0.22rem;
}

.Playlist-information h3 {
  padding-left: 0.9rem;
  line-height: 1.4em;
}
.Playlist-information h3:focus,
.Playlist-information h3:focus-visible {
  box-shadow: none;
  border: none;
  outline: none;
  color: rgb(214, 214, 214);
  font-weight: 100;
  letter-spacing: 0.03em;
}

.Playlist-information p {
  font-size: 0.83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}

.Playlist-button {
  flex-shrink: 0;
  box-sizing: content-box;
  font-size: 1.05rem;
}

.Playlist-remove {
  width: 20px;
  height: 20px;
}

.Playlist-edit {
  width: 16px;
  height: 16px;
}
