.Playlist {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  /* width: 37%; */
  width: 41%;
  max-height: 981px;
  /* padding: 2.27rem 1.16rem; */
  padding: 1.8rem 1.16rem 2.27rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
  transition: height 0.5s ease-out;
}

.Playlist.loading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Playlist.loading * {
  transition: color 0.5s, fill 0.25s;
  color: rgba(265, 265, 265, 0.5);
  fill: rgba(265, 265, 265, 0.5);
  border-color: rgba(265, 265, 265, 0.5);
}

.Playlist-panel {
  align-self: flex-end;
  margin-bottom: 0.47rem;
}

.Playlist-panel button {
  position: relative;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  padding: 0.5em 0.8em;
  fill: #fff;
  cursor: pointer;
  transition: fill 0.25s, color 0.25s;
}

.Playlist-panel button:last-child {
  padding-left: 0;
}

.Playlist-panel button:disabled {
  fill: rgb(146, 131, 131);
}

.Playlist-panel button:not(:disabled):hover {
  fill: rgba(265, 265, 265, 0.5);
}

.Playlist input {
  box-sizing: border-box;
  flex-basis: 45px;
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  border-width: 0px;
  margin-top: 1.27rem;
  background-color: #6c41ec;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.15s ease-out;
  color: #fff;
  font-weight: 500;
}

.Playlist.loading .Playlist-save {
  color: rgb(172, 172, 172);
}

.Playlist.loading .Playlist-save {
  text-shadow: 1px 1px black;
  background-image: linear-gradient(
    to right,
    #301877,
    #3e228f,
    #6c41ec,
    #6c41ec,
    #3e228f,
    #301877 95%
  );
  background-size: 300% 300%;
  animation: loading 3s infinite linear;
  cursor: auto;
  background-position: 200% 200%;
}

@keyframes loading {
  100% {
    background-position: 500% 500%;
  }
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    /* width: 90%; */
    width: 98%;
  }
}
