.UserPlaylists {
  position: relative;
  box-sizing: border-box;
  transition: height ease-out 1s;
  overflow: auto;
}

.UserPlaylists h2 {
  display: flex;
  justify-content: space-between;
}

.UserPlaylists-message {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 100;
  line-height: 1.2;
  text-align: left;
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.UserPlaylists.toggled .UserPlaylists-message {
  opacity: 1;
}

.UserPlaylists-button {
  display: block;
  width: 26px;
  height: 26px;
  padding: 0.2em;
  animation: Loading 2s linear infinite;
  animation-play-state: paused;
}

.UserPlaylists.loading .UserPlaylists-button {
  animation: Loading 2s linear infinite;
  fill: rgb(172, 172, 172);
  cursor: not-allowed;
  animation-play-state: running;
}

.UserPlaylists-icon {
  position: absolute;
  /* top: calc(50% - 20px); */
  left: calc(50% - 20px);
  top: 150px;
  width: 40px;
  height: 40px;
  fill: #fff;
  opacity: 0;
  transition: opacity 0.6s ease-in;
  animation: Loading 2s linear infinite;
}

.UserPlaylists.loading .UserPlaylists-icon {
  opacity: 1;
  transition-duration: 1s;
}

@keyframes Loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
